label {
  background-image: linear-gradient(#e4e4e4, #f7f7f7);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
}

label {
  opacity: 0.9;
}

input[type="file"] {
  display: none;
}
